<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fjl.analysis">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <application>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UmengAppKey}"></meta-data>
    </application>

</manifest>
